html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

/*body.my-login-page {*/
/*    background-color: #f7f9fb;*/
/*    font-size: 14px;*/
/*}*/

label {
    margin-top: 1rem;
    font-size: 15px;
}

.landing-background {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.register-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn {
    margin-top: 1rem;
    width: 100%;
}

.my-login-page .card-wrapper {
    width: 400px;

}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /*background-color: #1976D2;*/

}

.my-login-page .card.fat {
    padding: 15px;
}

.my-login-page .card .card-title {
    margin-bottom: 30px;
}

.my-login-page .form-control {
    border-width: 2.3px;
}

.my-login-page .form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #333;
    text-align: center;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Media Query*/
/*@media screen and (max-width: 425px) {*/
/*    .my-login-page .card-wrapper {*/
/*        width: 90%;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 320px) {*/
/*    .my-login-page .card.fat {*/
/*        padding: 0;*/
/*    }*/

/*    .my-login-page .card.fat .card-body {*/
/*        padding: 15px;*/
/*    }*/
/*}*/