.button {
    font: inherit;
    border: none;
    background: #1976D2;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    opacity: 0.9;
    background: #1976D2;
    border-color: #1976D2;
}

.button:focus {
    outline: none;
}